header h1{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 0, 0);
}


.h1{
    text-align: center;
    font-size: 30px;
    color: rgb(255, 0, 0);
    margin: -20px 0px 0px 0px;
}

img{
    width: 150px;
    height: 100px;
    position: absolute;
    top: -10px;
    left: -10px;
}

.motocross{
        background: linear-gradient(to right,red,orange);
        color:white;
        text-decoration: none;
        font-size:16px;
        padding: 15px 30px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        font-size: 50px;
        margin: 10px 610px 10px 610px;
}

.football{
        background: linear-gradient(to bottom,blue,yellow);
        color:white;
        text-decoration: none;
        font-size:16px;
        padding: 15px 30px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        font-size: 50px;
        margin: 10px 610px 10px 610px;
}

.boxing{
    background: linear-gradient(to right,orange,yellow);
    color:white;
    text-decoration: none;
    font-size:16px;
    padding: 15px 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 10px 610px 10px 610px;
}

.dav{
    background: rgb(255,0,253);
    background: linear-gradient(90deg, rgba(255,0,253,1) 2%, rgba(255,9,9,1) 18%, rgba(255,239,0,1) 32%, rgba(186,0,252,1) 47%, rgba(0,255,238,1) 62%, rgba(255,159,0,1) 81%, rgba(0,212,255,1) 100%);
    margin-top: 10px;
    padding-bottom: 29px;
}

.basketball{
        background: linear-gradient(to left,yellow,green);
        color:white;
        text-decoration: none;
        font-size:16px;
        padding: 15px 30px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        font-size: 50px;
        margin: 10px 610px 10px 610px;
}


.hockey{
    background: linear-gradient(to right,purple,pink);
    color:white;
    text-decoration: none;
    font-size:16px;
    padding: 15px 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 10px 610px 10px 610px;
}

footer img{
    width: 50px;
    height: 50px;
    align-items: flex-end;
    margin-bottom: 0px;
    margin-top: 850px;
    padding: 0px;
    margin-left: 18px;
}

.amg{
    padding-left: 65px;
}

.img{
    padding-left: 130px;
}


.omg{
    padding: 0px; 
}



