header h1{
    color: blue;
    text-align: center;
    font-size: 50px;
}

header img{
        width: 120px;
        height: 120px;
        top: 10px;
        left: 10px;
        position: absolute;
} 

.h2{
    background: linear-gradient(to bottom,blue,yellow);
    font-size: 45px;
    margin-top: 80px;
    margin-bottom: 0px;
}

.p{
    background: linear-gradient(to bottom,blue,yellow);
    margin-top: 5px;
    border-radius: 5px;
    font-size: 30px;
    margin-bottom: 0px;
}

ul{
    background: linear-gradient(to bottom,blue,yellow); 
}

li{
        font-size: 25px;
        background: linear-gradient(to bottom,blue,yellow);
}

main img{
    width: 350px;
    height: 250px;
}

footer a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 50px;
    color: black;
    background: linear-gradient(to bottom,blue,yellow);
    margin: 15px 500px 15px 500px;
    border-radius: 10px;
}