header h1{
    color: blue;
    text-align: center;
    font-size: 50px;
}

header img{
        width: 120px;
        height: 120px;
        top: 10px;
        left: 10px;
        position: absolute;
} 

.h2{
    background: linear-gradient(to bottom,blue,yellow);
    font-size: 45px;
    margin-top: 80px;
    margin-bottom: 0px;
}

.p{
    background: linear-gradient(to bottom,blue,yellow);
    margin-top: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 0px;
}

ul{
    background: linear-gradient(to bottom,blue,yellow);
    margin-top: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 0px;
}
